.a4 {
    margin: 0 auto;
    max-width: 950px;
}

.a4--header {
    border-bottom: 1px dotted lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.badge + .badge {
    margin-left: 5px;
}
.badge-container {
    font-size: 18px;
}

.resume * {
    font-family: "Roboto Mono", monospace;
}