@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'veramonofont2web2';
  src: url('./fonts/Android_VeraMono.woff');
}

#__next {
  font-family: 'veramonofont2web2', Vera Mono;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}