@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EuropeanTeletext';
  src: url('./fonts/EuropeanTeletext.ttf');
}

#__next {
  font-family: 'EuropeanTeletext', 'Courier New (monospace)';
}
